version: '3.8'

services:
  db:
    image: mysql:8
    container_name: pulse_uni_db_container
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./../../sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "mysql -u root -prootpassword -e 'SELECT 1'"]
      interval: 10s
      timeout: 15s
      retries: 12
      start_period: 30s

volumes:
  mysql_data:
